body {
    font-family: 'Courier New', Courier, monospace, bold, sans-serif;
    background-color: plum;
    padding: 30px;
    text-align: center;
}

h1 {
    color: rgb(100, 33, 100); 
}

form {
    display: inline-table;
    padding: 20px;
    border: 4px solid rgb(167, 36, 156); 
    background-color: #05c5df; 
    border-radius: 10px;
}

table {
    margin: 0 auto;
}

td {
    padding: 30px;
}

input[type="text"], input[type="password"] {
    padding: 15px;
    width: 100%;
    border: 5px solid purple;
    border-radius: 6px;
    text-size-adjust: 2px;
}

input[type="button"], input[type="reset"] {
    padding: 8px 15px;
    background-color: #08d3a0; 
    color: rgb(24, 5, 5);
    border: 5px;
    border-radius: 6px;
    cursor: pointer;
}

input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #FF69B4; 
}

#pMsg {
    color: rgb(132, 22, 223); 
    font-size: 18px;
}
